.main {
  flex: 1;
  padding: 60px 32px;
  background-color: #f8fafc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  margin: 0 0 16px;
  font-size: 36px;
  text-align: center;
  color: #1e293b;
}

.description {
  max-width: 700px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: #64748b;
}

.items {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  padding: 32px 24px;

  background-color: white;
  border-radius: 12px;

  text-align: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  background-color: rgb(223, 208, 208);
}

.card h3 {
  margin: 0;
  font-size: 20px;
  color: #1e293b;
}
